:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FBEDDA;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0rem;
    display: block;
}

.cs-title {
    text-align: inherit;
    margin: 0 0 1rem 0;
    justify-content: center;
    min-width: 800px;
    color: var(--headerColor);
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.cs-text {
    font-size: var(--bodyFontSize);
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}
                            

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    background-color: #FBEDDA;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }
  #cs-navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background:#FBEDDA;
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1100;
    transition: height 0.5s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  #cs-navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.15s;
  }
  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-container-navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    margin: 0 auto 0 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
  }
  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: #1a1a1a;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 2.4em;
    background-color: #FBEDDA;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.4s, opacity 0.3s;
    transform-origin: top;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    height: auto;
    max-height: 65vh;
    margin: 0;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    overflow: scroll;
  }
  #cs-navigation .cs-li {
    text-align: center;
    list-style: none;
    width: 100%;
    margin-right: 0;
    opacity: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;

  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: #FBEDDA;
    opacity: 1;
    display: none;
    position: absolute;
    bottom: -0.125rem;
    left: 0;

  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #FBEDDA;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }
  #cs-navigation .cs-container-navigation {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;

    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
}

.fancybox-is-open .cs-container-navigation {
  display: none;
}



/* Hero section */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1785 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1785 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  #hero-1785 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 46.875rem;
  }
  #hero-1785 .cs-title {
    /* 49px - 84px */
    font-size: clamp(3.0625rem, 6vw, 5.25rem);
  }
  #hero-1785 .cs-title,
  #hero-1785 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #hero-1785 .cs-text {
    margin-bottom: 2rem;
  }
  #hero-1785 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #hero-1785 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;

    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 12.5rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1785 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1785 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1785 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
  }
  #hero-1785 .cs-graphic-dark {
    display: none;
  }
  #hero-1785 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1785 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1785 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #hero-1785 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 14vw;
  }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1007 {
      padding: var(--sectionPadding);
  }
  #sbsr-1007 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 50rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1007 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      /* changes to 522px at desktop */
      max-width: 36.125rem;
      margin-top: -1rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }

  #sbsr-1007 .cs-text {
      margin-bottom: 1rem;
  }
  #sbsr-1007 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbsr-1007 .cs-spacer {
      width: 100%;
      /* 16px - 24px */
      height: clamp(1rem, 3vw, 1.5rem);
      display: block;
  }
  #sbsr-1007 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      font-family: 'Plus Jakarta Sans', sans-serif;

      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 2rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      border-radius: 5px;
  }
  #sbsr-1007 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
      border-radius: 5px;
  }
  #sbsr-1007 .cs-button-solid:hover:before {
      width: 100%;
  }
  #sbsr-1007 .cs-image-group {
      width: 100%;
  }
  #sbsr-1007 .cs-picture {
      width: 100%;
      height: 16.3125rem;
      border: 12px solid #fff;
      background-color: #FBEDDA;
      display: block;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: relative;
  }
  #sbsr-1007 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes it behave like a background image */
      object-fit: cover;
  }
  #sbsr-1007 .cs-seal {
      /* changes to a clamp(104px - 190px) at desktop */
      width: 6.5rem;
      height: auto;
      /* 104px - 190px */
      /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
      margin-top: calc(clamp(6.5rem, 12vw, 11.875rem) * -0.5);
      margin-left: auto;
      /* 28px - 120px */
      margin-right: clamp(1.75rem, 10vw, 7.5rem);
      background-color: #FBEDDA;
      border: clamp(6px, 0.8vw, 12px) solid #ffffff;
      border-radius: 50%;
      display: block;
      position: relative;
      /* make it rest on top of the bg picture */
      z-index: 10;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1007 .cs-container {
      align-items: flex-start;
  }
  #sbsr-1007 .cs-flex-group {
      flex-direction: row;
  }
  #sbsr-1007 .cs-text {
      columns: 2;
      column-gap: 1.5rem;
  }
  #sbsr-1007 .cs-spacer {
      display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1007 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      /* 100px - 200px */
      gap: clamp(6.25rem, 13vw, 12.5rem);
  }
  #sbsr-1007 .cs-image-group {
      max-width: 33.875rem;
      display: flex;
      justify-content: flex-end;
      position: relative;
      /* sends it to the right in the 2nd position */
      order: 2;
  }
  #sbsr-1007 .cs-picture {
      height: 28.75rem;
      aspect-ratio: initial;
  }
  #sbsr-1007 .cs-seal {
      /* 104 - 190px */
      width: clamp(6.5rem, 13vw, 11.875rem);
      margin: 0;
      position: absolute;
      top: 50%;
      /* subtract 12px (.75rem) to account for the border */
      left: calc((clamp(6.5rem, 13vw, 11.875rem) * -0.5) + -0.75rem);
      transform: translateY(-50%);
  }
  #sbsr-1007 .cs-content {
      flex: none;
      width: 54%;
      max-width: 33.875rem;
  }
}

.cs-svg {
  position: absolute;
  margin-top: 20rem;
  margin-left: 20rem;
  transform: rotate(45deg);
}
.cs-svg2 {
  position: absolute; 
  margin-left: 33rem;
  transform: rotate(340deg);
  z-index: -1;
}


                              

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1628 {
    padding: var(--sectionPadding);
    background-color: #FBEDDA;
  }
  #services-1628 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1628 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-1628 .cs-title {
    min-width: 100vw;
    align-items: center;
  }
  #services-1628 .cs-text {
    max-width: 40rem;
    position: relative;
    z-index: 1;
  }
  #services-1628 .cs-text:after {
    /* divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #services-1628 .cs-chevron {
    --chevronColor: var(--primary);
    width: 3rem;
    height: auto;
  }
  #services-1628 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
  }
  #services-1628 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-1628 .cs-item:hover .cs-picture img {
    opacity: .5;
    transform: scale(1.2);
  }
  #services-1628 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-1628 .cs-picture {
    width: 100%;
    height: 15rem;
    margin-bottom: 1.5rem;
    background-color: #000;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #services-1628 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .6s, opacity .3s;
  }
  #services-1628 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-1628 .cs-item-text {
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #services-1628 .cs-fake-link {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
    color: var(--primary);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #services-1628 .cs-fake-link:hover .cs-icon {
    transform: translateX(0.5rem);
  }
  #services-1628 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform .3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1628 .cs-container {
    max-width: 80rem;
  }
  #services-1628 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #services-1628 .cs-flex {
    max-width: 40rem;
    flex: none;
  }
  #services-1628 .cs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  #services-1628 .cs-text {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }
  #services-1628 .cs-text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  #services-1628 .cs-item {
    grid-column: span 6;
  }
  #services-1628 .cs-picture {
    /* 240px - 420px */
    height: clamp(15rem, 33vw, 26.25rem);
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1628 .cs-item {
    grid-column: span 3;
  }
}
                                

/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #events-1652 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #events-1652 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #events-1652 .cs-image {
    display: flex;
    position: relative;
    width: 100%;
  }
  #events-1652 .cs-picture {
    width: 100%;
    /* 328px - 752px */
    height: clamp(20.5rem, 80vw, 47rem);
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #events-1652 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #events-1652 .cs-events {
    width: 100%;
    max-width: 46.125rem;
    background-color: #FBEDDA;
    display: flex;
    /* 40px - 48px top */
    padding: clamp(2.5rem, 4vw, 3rem) clamp(1rem, 5vw, 3rem) clamp(1rem, 5vw, 3rem);
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #events-1652 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #events-1652 .cs-title {
    color: var(--headerColor);
    font-size: 40px;
    margin-left: 3rem;
  }
  #events-1652 .cs-card-group {
    width: 100%;
    margin-top: 10%;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 3vw, 1.25rem);
  }
  #events-1652 .cs-item {
    list-style: none;
    background-color: #FBEDDA;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-decoration: none;
    width: 100%;
    /* 16px - 32px */
    padding: clamp(1rem, 2vw, 2rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 2vw, 1.5rem);
  }
  #events-1652 .cs-date {
    font-size: 1rem;
    line-height: 1.2em;
    /* 80px - 100px */
    width: clamp(5rem, 10vw, 6.25rem);
    height: clamp(5rem, 10vw, 6.25rem);
    color: var(--primary);
    background-color: #111926;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    flex: none;
  }
  #events-1652 .cs-date strong {
    font-size: 1.9375rem;
    line-height: 1.2em;
    color: #fff;
  }
  #events-1652 .cs-info-wrapper {
    display: flex;
    flex-direction: column;
    /* 24px - 48px */
    gap: clamp(1.5rem, 3vw, 3rem);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }
  #events-1652 .cs-info {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 600px;
    z-index: -1;
  }

  #location-id {
    padding-left: 20px;
    padding-top: 10px;
    height: 100px;
    border-radius: 20px;
  }

  #opening-id {
    padding-left: 20px;
    padding-top: 10px;
    width: 2000px;
    height: 300px;
    border-radius: 20px;

  }
  #events-1652 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    font-family: "Noto Sans", sans-serif;
    color: var(--headerColor);
  }
  #events-1652 .cs-location {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    /* 8px -k 24px */
    margin: 0 0 clamp(0.5rem, 2vw, 1.5rem);
    color: var(--bodyTextColor);
    font-family: "Noto Sans", sans-serif;
  }
  #events-1652 .cs-time {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  #events-1652 .cs-icon {
    width: 1.5rem;
    height: auto;
    font-family: "Noto Sans", sans-serif;
  }
  #events-1652 .cs-button-wrapper {
    display: flex;
    position: relative;
    align-items: center;
  }
  #events-1652 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #events-1652 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #events-1652 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #events-1652 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #events-1652 .cs-image {
    width: 45%;
    max-width: 33.875rem;
    height: auto;
    padding-top: 11rem;
    margin-top: 4rem;
    /* sends it to the right in the 2nd position */
    order: 2;
    border-radius: 20px;
  }

  
  #events-1652 .cs-picture {
    max-height: none;
    height: auto;
  }
  #events-1652 .cs-events {
    min-width: 26.25rem;
    /* 420px - 738px */
    width: clamp(26.25rem, 52.8vw, 46.125rem);
    /* 24px - 48px */
    padding: clamp(1.5rem, 3vw, 3rem);
    justify-content: flex-start;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #events-1652 .cs-info-wrapper {
    flex-direction: row;
  }
}

.cs-svg3 {
  position: absolute;
  margin-right: 50rem;
  transform: rotate(45deg);


}
.cs-svg4 {
  position: absolute;
  margin-left: 50rem;
  transform: rotate(315deg);
}
.cs-svg5 {
  position: absolute; 
  margin-top: 40rem;
  margin-left: 20rem;
  z-index: 100;
  transform: rotate(50deg);
}
.cs-svg6 {
  position: absolute;
  margin-top: 40rem;
  margin-right: 40rem;
  transform: rotate(330deg);
}

.cs-svg7 {
  position:absolute;
  z-index: 10;
  margin-left: 70rem;
  transform: rotate(320deg);

}
                                
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-274 {
      padding: var(--sectionPadding);
      /* Navigation Links */
  }
  #cs-footer-274 .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: 34.375rem;
      font-family: 'Times New Roman', Times, serif;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 5.5rem;
      row-gap: 2rem;
  }
  #cs-footer-274 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-274 .cs-logo-group {
      /* 44px - 52px */
      margin-bottom: clamp(2.75rem, 6.8vw, 3.25rem);
  }
  #cs-footer-274 .cs-logo {
      /* 210px - 240px */
      width: clamp(13.125rem, 8vw, 15rem);
      height: auto;
      display: block;
  }
  #cs-footer-274 .cs-logo-img {
      width: 100%;
      height: auto;
  }
  #cs-footer-274 .cs-social {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.75rem;
      position: absolute;
      top: 0;
      right: 0;
  }
  #cs-footer-274 .cs-social-link {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #4e4b66;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition:
          transform 0.3s,
          background-color 0.3s;
  }
  #cs-footer-274 .cs-social-link:hover {
      background-color: var(--primary);
      transform: translateY(-0.1875rem);
  }
  #cs-footer-274 .cs-social-img {
      height: 0.8125rem;
      width: auto;
      display: block;
  }
  #cs-footer-274 .cs-nav {
      padding: 0;
      margin: 0;
  }
  #cs-footer-274 .cs-nav-li {
      list-style: none;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #cs-footer-274 .cs-header {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 700;
      /* 16px - 20px */
      margin-bottom: clamp(1rem, 2.7vw, 1.25rem);
      color: var(--bodyTextColor);
      position: relative;
      display: block;
  }
  #cs-footer-274 .cs-nav-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColor);
      position: relative;
  }
  #cs-footer-274 .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: var(--bodyTextColor);
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #cs-footer-274 .cs-nav-link:hover:before {
      width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-274 .cs-container {
      max-width: 80rem;
      row-gap: 0;
      /* 44px - 88px */
      column-gap: clamp(2.75rem, calc(6%), 5.5rem);
  }
  #cs-footer-274 .cs-logo-group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }
  #cs-footer-274 .cs-social {
      flex-direction: row;
      position: relative;
      top: auto;
      right: auto;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-274 .cs-container {
      justify-content: flex-end;
  }
  #cs-footer-274 .cs-logo-group {
      width: auto;
      margin: 0;
      /* pushes the rest of the content to the right in a flexbox */
      margin-right: auto;
      flex-direction: column;
  }
  #cs-footer-274 .cs-logo-img {
      margin-bottom: 2.75rem;
  }
  #cs-footer-274 .cs-nav {
      margin-top: 0.75rem;
  }
}

                              